.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.body {
  /* background-color: #26262D; */
  width: 100%;
  height: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  margin: 0.5%;
  margin-top: 8%;
}
.image{
  width: 200px;
  height: 300px;
}
.name_film{
  font-size: 100%;
  color: white;
  font-style: italic;
  text-decoration: none;
}
.description_film{
  font-size: 70%;
  color: #5D5D63;
}
.description{
  display: flex;
  flex-direction: column;
}
.search{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  height: 60px;
  top: 0;
  /* position: fixed; */
  z-index: 1;
  background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(77,77,77,1));
  width: 100%;
  
}
.movie-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
}
.add-image{
  width: 170px;
}
.border{
  border-top: 1px solid #eef2f2;
}
.input{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  border: none;
  height: 35px;
  font-size: 20px;
  outline: 0;
  border-radius: 40px;
  box-sizing: content-box;
  box-shadow: none;
  background: 0 0;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  transition: background .2s ease-in-out,font-size .2s ease-in-out .1s;
  background: hsla(0,0%,100%,.5);
  padding-top: 2px;
  line-height: 24px;
  -webkit-appearance: none;
}
.bg-modal{
  width: 100%;
  height: 100%;
  
  position: absolute;
  top:-350px;
  display: flex;
  justify-content: center;
  align-items: center;
 

}
.modal-content{
  width: 500px;
  height:300px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  position: relative;
}
.movie-add-img{
  width: 60px;
  height: 60px;
}
input{
  width: 50%;
  display: block;
  margin: 15px auto;
}
.close{
  position: absolute;
  top: -50px;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;

}
.button{
  background: #5DB2E5;
  border-radius: 10px;
  width: 120px;
  height: 30px;
  border-color: #BCCD56;
}
.etoile{
  width: 20px;
}





